body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
}

.custom-file-input {
  font-weight: bold;
  min-width: 400px;
}

.custom-file-input::-webkit-file-upload-button {
  display:inline
}

input::file-selector-button {
  background:white;
  cursor: pointer;
  content: 'Choose File';
  display: inline-block;
  border: 2px solid #999;
  border-radius: 10px;
  padding: 10px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin-right: 10px;
  color: dodgerblue
}

input::file-selector-button:hover {
  color: darkgreen;
  border-color: dodgerblue;
}

.custom-file-input:hover::before {
  border-color: dodgerblue;
  color: darkgreen;
  cursor: pointer;
}

.custom-file-input:active::before {
  background: white;
}

.custom-button {
  margin-top: 0px;
  background:white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 10px;
  border:2px solid grey; 
  color: dodgerblue;
  font-weight: bold;
}

.custom-button:hover {
  border-color: dodgerblue;
  color: darkgreen;
  cursor: pointer;

}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.share-button {
  margin-top: 0px;
  background:white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 10px;
  border:2px solid grey; 
  color: dodgerblue;
  font-weight: bold;
}
